@font-face {
  font-family: Font;
  src: url(assets/fonts/Font-Light.woff);
  font-weight: 300;
}

@font-face {
  font-family: Font;
  src: url(assets/fonts/Font-Medium.woff);
  font-weight: 400;
}

@font-face {
  font-family: Font;
  src: url(assets/fonts/Font-Normal.woff);
  font-weight: 500;
}

@font-face {
  font-family: Font;
  src: url(assets/fonts/Font-SemiBold.woff);
  font-weight: bold;
}


html,body,button {
  margin : 0px;
  padding : 0px;
  font-family: Font, sans-serif;
  font-size: 15px;
  background-color: #F8F8F8;
  color: #585858;
}

html,body{
  height: 100%;
  width: 100%;
}

nav {
  background-color: #D1CCC5;

  border-bottom: 1px solid #8A5C4E;
  border-top: 1px solid #999999;
  background: #d1ccc5; /* Old browsers */
  background: -moz-linear-gradient(top, #d1ccc5 1%, #a09c98 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d1ccc5 1%,#a09c98 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d1ccc5 1%,#a09c98 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1ccc5', endColorstr='#a09c98',GradientType=0 ); /* IE6-9 */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li{
  border-left: 1px solid #999999;
  text-align: center;
  padding: 1em;
  transition : all 0.2s ease-in-out;
}


main{
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  max-width: 1000px;
  margin: auto;
}

.article-container{
  padding : 0.5em;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

article{
  transition: all 0.2s ease-in-out;
}

article:hover{
  background-color: #D4E6F4;
}

.article--title {
  font-size : 1em;
}

.article--content {
  font-size : 0.8em;
}
.article--origin{
  font-size : 0.7em;
  color: #888888;
}
article{
  width: 100%;
}

@media screen and (min-width : 320px){
  article {
    width : 50%;
  }
}

@media screen and (min-width : 600px){
  article {
    width : 50%;
  }
}

@media screen and (min-width : 860px){
  article {
    width : 33.33%;
  }
}
/*
@media screen and (min-width : 1000px){
  article {
    width : 25%;
  }
}*/

.menu-link {
  text-decoration-line: none;
  color: inherit;
  font-weight: 400;
  font-size: 1em;
}

.menu--selected{
  background-color: #937B68;
  color: #F8F8F8;
}

.article-detail{
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0px;
  left : -100vw;
  background-color: #FEFEFE;
  transition: all 0.3s ease-in-out;
}

.article-detail--open{
  left : 0;

}
.article-detail--header{
  background-color: #D1CCC5;
  -webkit-box-shadow: -2px 3px 62px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: -2px 3px 62px 0px rgba(0,0,0,0.3);
  box-shadow: -2px 3px 62px 0px rgba(0,0,0,0.3);
  border-bottom: 1px solid #8A5C4E;
  z-index: 999;
}


header {
  position: absolute;
  top : 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #937B68;
  color: #F8F8F8;
  font-family: Font;
  font-weight: 300;
}

header.close {
  display: none;
}

.header-title {
  text-align: center;
  font-size: 2.2em;
  margin-bottom: 0px;
}

.header-description {
  font-size: 1em;
}

.page{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button-load-more{
  border : none;
  width: 100%;
  background-color: #d1ccc5;
  font-family: Font;
  padding: 1em;
  color: #585858;
  margin: 2em;
  max-width: 1000px;
  margin: auto;
}

.button-load-more.hide{
  display: none;
}

.header-background{
  background: url("assets/background-pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  transition: all 0.2s ease-in-out;
}

.header-background.hide{
  top : -10em;
}

.header-background.showmenu{
  top : -95px;
}

